<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
	<div class="p-step2">
		<div class="p-step2__step text-right bg-transparent text-light">2/3</div>
		<div class="card p-step2-content border-0">
			<ngb-progressbar type="danger" [value]="66"></ngb-progressbar>
			<div class="card-header border-0 bg-transparent mx-3 mt-5">
				<h1 class="display-4">
					Laten we elkaar beter leren kennen.
				</h1>
			</div>
			<div class="card-body mx-3">
				<h5 class="card-title">
					Ben je momenteel al een verkoper via bol.com?
				</h5>
				<kt-options [options]="options"></kt-options>
				<div class="p-step2__input-form">
					<button type="button" class="btn btn-danger btn-lg rounded-pill"
						routerLink="/steps/step3">Volgende</button>
				</div>
			</div>
		</div>
	</div>
</div>