:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
	width: 100%;
}
.p-step2{
	background-color: #25282d;
	&>*{
		color: #25282d;
		background-color: #ffffff;
	}
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}
.p-step2__step{
	width: 70%;
	min-width: 800px;
}
.p-step2-content{
	width: 70%;
	min-width: 800px;
	height: 80vh;
	@media only screen and (max-width: 800px){
		height: 100vh;
	}
	overflow-y: scroll;
}
.p-step2__input-form{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.p-step2__button--next{

}